<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Helsinki Weather Radars</title>
	<meta name="title" content="Helsinki Weather Radars">
	<meta name="description" content="Two weather radars of the Helsinki area">
	<meta name="viewport" content="width=762">
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/site.css">
	<script src="/static/js/modernizr.js"></script>
</head>
<body>

<div id="background" class="noselect">
	<header>
		<h1>Helsinki Weather Radars</h1>
	</header>
	<div id="maps_container">
		<div id="map1_outer_container">
			<div id="map1_inner_container">
				<div id="map1_canvas_container">
					<canvas></canvas>
				</div>
				<div id="map1_loader_container">
					<div id="map1_loader"></div>
				</div>
			</div>
			<div id="map1_info_container">
				<div id="map1_info_date"></div>
				<div id="map1_info_time"></div>
				<div id="map1_info_index"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="map2_outer_container">
			<div id="map2_inner_container">
				<div id="map2_canvas_container">
					<canvas></canvas>
				</div>
				<div id="map2_loader_container">
					<div id="map2_loader"></div>
				</div>
			</div>
			<div id="map2_info_container">
				<div id="map2_info_date"></div>
				<div id="map2_info_time"></div>
				<div id="map2_info_index"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery.js"><\/script>')</script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/services.js"></script>

</body>
</html>
